header {
  border-bottom: solid 5px #3498db;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
header .navbar {
  display: flex;
  padding: 1rem 0;
  align-items: center;
}
header .navbar .logo {
  color: #3498db;
  font-weight: bold;
  margin-right: 20px;
  font-size: 1.3rem;
}
header .navbar .logo + label {
  display: none;
}
header .navbar .logo + label + input {
  display: none;
}
header .navbar .collapse {
  display: flex;
  flex-grow: 1;
}
header .navbar .collapse .links {
  display: flex;
  margin-right: auto;
  font-weight: bold;
}
header .navbar .collapse .links li {
  margin: 0 10px;
}
header .navbar .collapse .links li a {
  color: #777;
}
header .navbar .collapse .links li a:hover {
  color: #333;
}
header .navbar .collapse .form a {
  border: solid 1px #3498db;
  border-radius: 0.3rem;
  padding: 0.3rem 1rem;
  color: #3498db;
}
header .navbar .collapse .form a.form-bg {
  background: #3498db;
  color: white;
}
@media only screen and (max-width: 968px) {
  header .navbar {
    flex-flow: row wrap;
  }
  header .navbar .logo {
    margin-right: auto;
  }
  header .navbar .logo + label {
    display: block;
    border: solid 1px #ddd;
    padding: 0.5rem 1rem;
    color: #555;
    cursor: pointer;
  }
  header .navbar .logo + label + input {
    display: none;
  }
  header .navbar .logo + label + input:checked + .collapse {
    display: block;
  }
  header .navbar .collapse {
    display: none;
    width: 100%;
    flex-flow: column;
  }
  header .navbar .collapse .links {
    flex-direction: column;
    margin-bottom: 1.5rem;
  }
  header .navbar .collapse .links li {
    margin: 0.5rem 0;
  }
}
